body {
    font-family: 'Roboto Condensed', sans-serif !important;
}

/* ===== Menu ===== */
.article-menu {
    padding: 15px 5% 15px 5%;
}

.menu-superior {
    width: 70%;
    display: inline-block;
}

#logo {
    margin-top: 10px;
    max-height: 40px;
    vertical-align: baseline !important;
}

#titulo {
    display: inline;
    margin-left: 20px;
    margin-right: 30px;
    font-weight: bolder !important;
}

.mes-ano-selecionado {
    font-weight: bold;
    padding: 10px 10px;
}

.seta {
    padding: 10px 10px;
    border-radius: 15px;
}
.seta:hover {
    background-color: #d8c2fe;
    cursor: pointer;
}

/* ===== Calendário ===== */
.article-border {
    border-top: 0.8px;
    border-top-style: solid;
    border-color: lightgray;
}

.article-calendario {
    padding: 0px 5% 0px 5%;
}

.bloco-dia {
    border-bottom: 0.8px;
    border-right: 0.4px;
    border-left: 0.4px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-color: lightgray;
    text-align: center;
    height: 100px;
}
.bloco-dia-atual {
    background-color: #d8c2fe;
}

/* ===== Mini-calendário ===== */
.article-mini-calendario {
    padding: 25px 5% 0px 5%;
}

.mes-ano-selecionado-mini {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.mini-calendario {
    border-top: 5px;
    border-top-style: solid;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-color: #d8c2fe;
    padding: 15px 0px;
}

.bloco-mini-dia {
    text-align: center;
    font-size: 0.8em;
    padding: 0px 5px !important;
}
.bloco-mini-dia-atual {
    background-color: #d8c2fe;
}

.bloco-notas {
    border: 2px solid #d8c2fe;
    border-radius: 15px;
}

/* ===== Conversor de datas ===== */
.conversor {
    width: 30%;
    display: inline-block;
}
.conversor-div1, .conversor-div3 {
    width: 35%;
    display: inline-block;
}
.conversor-div2 {
    width: 30%;
    display: inline-block;
    margin: auto;
}